* {
    --black: #000000;
    --white: #F7F7F7;
    --lightgrey: #EEEEEE;
    --cement: #929AAB;
    --lightblack: #393E46;

}
@font-face {
    font-family: "logo";
    src: url("./assets/font/Archivo-ExtraBold.ttf") format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: "navLi";
    src: url("./assets/font/Archivo-Light.ttf") format('truetype');
}
@font-face {
    font-family: "semi-bold";
    src: url("./assets/font/Archivo-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: "common";
    src: url("./assets/font/Archivo-Thin.ttf") format('truetype');
}
body{
    font-family: common;
}